-e git+https://github.com/dmis-lab/BioSyn.git@6220acfae2467bef76addf634a0f45e4da9dd7fd#egg=biosyn
nltk==3.8.1
numpy==1.24.4
protobuf==4.24.4
pytorch-metric-learning==2.3.0
scikit-learn==1.3.1
sentence-transformers==0.4.1.2
sentencepiece==0.1.91
tokenizers==0.14.1
torch==1.11.0+cu113
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.15
tqdm==4.66.1
transformers==4.34.0
